//-Servern ska kunna ta emot data från resultatrapportering.
//-Det ska därför finnas en sida (resultatrapportering) som rapportören 
//-i vallokalen använder. Den sidan bör ha ett formulär där man kan registrera 
//-följande: 
//- /*vilken vallokal som rapporterar
//- parti och antalet röster för detsamma.*/

//-Default. Specifies that autocomplete is on (enabled)
//-In HTML5, the action attribute is no longer required.
//-<form action="URL">

block rapport
  p yifei
//-socket.on: Used to monitor a launched event by emit,The first parameter is the name of the event to be monitored, the second argument 
//-is an anonymous function used to receive the data sent by the others,The first argument is the received data
