//-Servern ska kunna ta emot data från resultatrapportering.
//-Det ska därför finnas en sida (resultatrapportering) som rapportören 
//-i vallokalen använder. Den sidan bör ha ett formulär där man kan registrera 
//-följande: 
//- /*vilken vallokal som rapporterar
//- parti och antalet röster för detsamma.*/

//-Default. Specifies that autocomplete is on (enabled)
//-In HTML5, the action attribute is no longer required.
//-<form action="URL">
//- option(value= valueFirst) #{valueFirst}  after=, no #{}   
//-action attribute specifies where to send the form-data when a form is submitted.
extends index
block index
    form(action='')
      div.localGroup
        select(name='local' id="local")
         option(value="" disabled selected) local
         option(value= valueFirst) Vasakyrkan
         option(value= valueSecond) Masthuggskyrkan
         option(value= valueThird) Gårdstenskyrkan
         option(value= valueFour) Kortedala
      div(class='partyGroup')
        select(name='party' id="party")
          option(value="" disabled selected) party
          option SPI Seniorpartiet
          option Arbetarepartiet - Socialdemokraterna
          option Borgerligt alternativ
          option Centerpartiet
          option Fria liberaler i Svenska kyrkan FiSK
          option ÖPPEN KYRKA -- en kyrka för alla
          option FRIMODIG KYRKA
          option Kristdemokrater i Svenska kyrkan
          option Miljöpartister i Svenska kyrkan
      input(type="number"  value='vote' name="vote" id='voteNumber') 
      div.vote 
         input(type="submit" class="btn btn-info" value='vote' id='vote') 
    
    
//- form use name to transfer data  
//-action in form means http request except form reload page, form always render html
