
//- /*Den data som rapportören skickar in ska servern ta emot och visa. 
//- Det ska finnas en sida (resultat) som enbart visar de resultat som kommit in. 
//- Jag som användare ska inte behöva uppdatera den för att se senaste resultat.*/
extends index
block index
  div
    table(id="client" )
      tr
        th(id='local') local
        th(id='party') party
        th voteNumber
        
    
  //- ul
  //-   each value, key in result
  //-     li= key + ': ' + value
  
  
