body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.localGroup{
  margin-bottom: 3%;
}
.partyGroup{
  margin-bottom: 3%;
}
.result{
  margin-top: 3%;
}
.vote{
  color: red;
}
table {
  width:80%;
    margin: auto;
}

.vote{
  margin-top: 2%;
}
